  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<title>Velocity List</title>
</head>
<body bgcolor="#E6E6FA">
	<section>
		<div style="text-align:center" >
<H1>Select Category</H1>
 

 	 <p>
		<form action="saveVelocity" method="POST">
  
Name:  		#springFormInput("product.name" "")<br>
			#springShowErrors("<br>" "")<br>			
 			
   		    ##springBind("product.manufacturer")
 Description:
  			#springFormTextarea("product.description" "rows=2 cols=40")<br>
			#springShowErrors("<br>" "")<br>			
	
  			 	<h3>Spring Velocity Select</h3>
  Category:			
    			#springFormSingleSelect("product.category" $categoryMap "")
 			
 
 	 		<h3>Regular Velocity Select</h3>
 
Manufacturer: 
 		     #springBind("product.manufacturer")
             <select name="manufacturer">
    
               #foreach ($type in $categoryList)
                    #if("$product.category" == "$type")
                        #set($selected = "selected")
                    #else
                        #set($selected = "")
                    #end
                        <option $selected value="$type">$type</option>
              #end                     

             </select>

 	</p>
 	<p>
 			<input type="submit" value="Submit" class="btn btn-default"/>  
 	</p>
		</form>
					<p>
						<a href="#springUrl("/welcome")" class="btn btn-default">
								<span class="glyphicon-hand-left glyphicon"></span> Welcome
					    </a>
						<a href="#springUrl("/demo")" class="btn btn-default">
								<span class="glyphicon-hand-left glyphicon"></span> Demo
					    </a>
 
</div>
</section>


</body>
</html>
