<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Product Form</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
</head>
<body>

	<div id="global">
		<form th:action="@{/phone/add}" th:object="${phone}" method="post">
			<fieldset>
				<legend>Add a Phone</legend>
				<p>
					<label for="areaCode">Hot Line: </label> 
					<input type="text" id="areaCode" size="3" name="areacode" th:field="*{areacode}" tabindex="1">

					<input type="text" size="3" name="prefix" th:field="*{prefix}" tabindex="2">

					<input type="text" size="4" name="number" th:field="*{number}" tabindex="3">

				</p>
				
				<p>
					<label for="name">Product Name: </label> 
					<input type="text" id="name" name="product.name" th:field="*{product.name}" tabindex="4">
				</p>
				<p>
					<label for="description">Description: </label> 
					<input type="text" id="description" name="product.description" th:field="*{product.description}" tabindex="5">
				</p>
				<p>
					<label for="price">Price: </label> 
					<input type="text" id="price" name="product.price" th:field="*{product.price}" tabindex="6">
				</p>
				

				<p id="buttons">
					<input id="reset" type="reset"> 
					<input id="submit" type="submit" tabindex="7" value="Add Phone">
				</p>
			</fieldset>
		</form>
	</div>
</body>
</html>
