<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Save Employee</title>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
</head>
<body>
	<div id="global">
		<h4>The employee has been saved.</h4>
		<p>
		<h5>Details:</h5>
		Employee Name: <span th:text="${employee.firstName}"></span> <span th:text="${employee.lastName}"></span><br />
		Salary: $<span th:text="${employee.salary}"></span><br />
		
		<p th:each="phone: ${employee.phones}">
			Phone Number: <span th:text="${phone.areaCode + '-' + phone.prefix + '-' + phone.number}"></span><br />
		</p>

	</div>
</body>
</html>